In [2]:
import pandas as pd
import numpy as np
ser = pd.Series()
print(ser)

Series([], dtype: object)

In [3]:
# converting the numpy array into series
data = np.array(['George', 'Martin', 'Sarah'])
data2 = pd.Series(data)
print(data2)

0    George
1    Martin
2     Sarah
dtype: object

In [4]:
# converting a dic to series

dict = {"Name":"George","Age":"30"}

dict2 = pd.Series(dict)
print(dict2)

Name    George
Age         30
dtype: object

In [ ]:
# in this case we are using series to print the values from 1 to 10 but these should be 5 numbers
ser3 = pd.Series(np.linspace(1,10,5))
print(ser3)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [12]:
ser4 = pd.Series(np.linspace(1,10,5, endpoint = False))
print(ser4)

0    1.0
1    2.8
2    4.6
3    6.4
4    8.2
dtype: float64

In [14]:
ser5 = pd.Series(range(1,5))
print(ser5)

0    1
1    2
2    3
3    4
dtype: int64